#container {
    display: flex;
    margin: 20px 20px;
    /* padding: 50px; */
}

#image-container {
    width: 40%;
    height: 300px;
    border: 2px solid black;
    box-shadow: 0 0 10px orangered;
}

#details-container {
    width: 60%;
    height: 300px;
    border: 2px solid black;
    box-shadow: 0 0 10px orangered;
}